@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');


* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.info-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(219, 219, 219, 0.50);
    margin: 0;
    }

  .main-contact {
    background-color: #A3B68A;
    min-height: 100vh;
    
  }
  
 
  .info-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
   
  }

  .info-item p {
    font-size: 1.5rem; 
    font-weight: 500; 
    color: #333; 
    font-family: 'Inter', 'Arial', sans-serif;
  }

  
  

  .icon {
    width: 100px;
    height: 100px;
    margin-right: 15px; 
  }
  
  /* Ajustes responsivos */
  @media (min-width: 768px) {
    .info-container {
      flex-direction: row; 
      justify-content: space-around;
    }
  
    .info-item {
      margin-bottom: 0; 
    }
  }

  .contact-title {
    width: 100%;
    text-align: center;
    background-color: #809367;
    display: block;
  }

  .contact-title > h1 {
    font-family: 'Dangrek', 'Inter', 'Arial', sans-serif;
    margin: 0;
    font-size: 3rem;
    letter-spacing: 8px;
    text-transform: uppercase;

  }




.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 95%;
  margin-top: 50px;
  align-items: start;
  margin-left: 10px;
}

.left-section img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.right-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.input-text {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  border: 1px solid #ccc;
  outline: none;
}

.textarea {
  grid-column: span 2;
  width: 100%;
  height: 442.5px;
  padding: 10px;
  font-size: 22px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

.save-btn {
  grid-column: span 2;
  padding: 10px;
  background-color: #283218; /* Cor escura do botão */
  color: white;
  border: none;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #1e2710; /* Cor mais escura ao passar o mouse */
}


@media (max-width: 890px) {
  .info-container  {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .container1 {
      grid-template-columns: 1fr; /* Muda para uma coluna única */
  }

  .right-section {
      grid-template-columns: 1fr; /* Inputs empilhados */
  }

  .textarea, .save-btn {
      grid-column: 1; /* Garante que a textarea e o botão também ocupem toda a largura */
  }
}

/* Para telas de até 480px (smartphones em modo retrato) */
@media (max-width: 480px) {
  .input-text {
      padding: 8px;
      font-size: 14px;
  }

  .textarea {
      height: 120px; /* Reduz altura da textarea */
  }

  .save-btn {
      padding: 8px;
      font-size: 14px;
  }
}

@media (max-width: 440px) {
  .info-item > p {
    font-size: 16px;
  }
  .info-item > img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 340px) {
  .info-item > p {
    font-size: 4vw;
  }
  .info-item > img {
    width: 70px;
    height: 70px;
  }
}



