@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

.receipts-container {
    background-color: #E27B43;
    min-height: 100vh;
    padding: 140px;
    color: #000;
    font-family: Arial, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .nav-button {
    font-size: 2rem;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-button.left {
    left: 20px;
  }
  
  .nav-button.right {
    right: 20px;
  }
  
  .receipts-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .receipts-text {
    flex: 3;
    padding-right: 40px;
    font-family: 'Glegoo', sans-serif;
    font-weight: 300;
    position: relative;
  }
 
  
  .receipts-title {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: start;
    color: #8F3F01;
    text-transform: uppercase;
    font-family: 'Glegoo', sans-serif;
    
  }
  
  .receipts-paragraph {
    margin-bottom: 1.5em;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.8;
    clear: both;
  }
  
  .receipts-image-container {
    flex: 1.5;
    float: right; 
    margin-left: 20px;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  .receipts-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 0.4s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 0.4s forwards;
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.4s forwards;
  }
  
  .slide-out-right {
    animation: slideOutRight 0.4s forwards;
  }