@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');




/* Estilo da barra de navegação */
nav {
    background-color: #D9D9D9; /* Cor de fundo da navegação */
    color: #395a30; /* Cor do texto para garantir visibilidade */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    margin: 0;
    width: 100%;
  }


  .background-split {
      height: 100vh; /* Usa toda a altura da viewport */
      background: #98647c;
  
  }

  .wrapper {
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    background:#A3B68A;
  }
  
  .logo {
    font-size: 5.5rem;
    font-family: 'Lavishly Yours', sans-serif;
    position: absolute;
    left: 0;
    margin-left: 20px;
    cursor: pointer;
    color: #395a30; /* Cor da logo */
  }
  
  /* Estilos existentes da página */
  .container {
    display: flex;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    
    background-color: #d9d9d9; /* Cor de fundo opcional */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    border-radius: 200px;
  }
  
  .container-left,
  .container-right {
    flex: 1;
    padding: 20px;
  }
  
  .container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 2px solid #e0e0e0;
    background-color: #b6b6b6aa;
    border-radius: 200px;
    height: 100%;
  }

  .container-left > h3 {
    font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .container-left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  #profile-pic {
    width: 40%;
    height: auto;
    margin: 0;
  }
  .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px; /* Espaçamento entre os inputs */
  }

  .lineSld {

    width: 100%;
    display: flex;
    justify-content: center;
  }

  #user-username {
    font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 400;
  }

  #user-email {
    font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 5px;
  }